@import "mocha.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka NF, FiraCode;
    font-size: 14px;
}

window#waybar {
    background-color: #1E1E2E;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button {
    padding: 0 5px; 
    border-radius: 5em / 5em;
    background-color: @surface0;
    color: @peach;
    margin: 2px;
    font-weight: bold;
}


#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#keyboard-state,
#mpd {
    padding: 0 10px;
    color: @peach;
    background-color: @surface0; 
    font-weight: bold;
}

#memory {
   color: @yellow;
}

#window,
#workspaces {
    margin: 0 4px;
    background-color: transparent;
    font-weight:bold;
    border-radius: 5em / 5em;
    padding: 0 10px;
    color: @peach;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
  border-top-right-radius: 5em 5em; 
  border-bottom-right-radius: 5em 5em;
  color: @sky;   
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}


#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    border-top-left-radius: 5em 5em;
    border-bottom-left-radius: 5em 5em;
    color: @pink;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#temperature {
   color: @green;
}

#keyboard-state {
    padding: 0 0px;
    min-width: 16px;
    color: @mauve;
}


#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

/* * { */
/*   border: none; */
/*   border-radius: 0px; */
/*   font-family: Iosevka NF, Roboto, Helvetica, Arial, sans-serif; */
/*   font-weight: bold; */
/*   font-size: 15px; */
/*   min-height: 0; */
/* } */
/**/
/* window#waybar { */
/*   background: rgba(29, 32, 33, 1.0); */
/*   color: #ebdbb2; */
/* } */
/**/
/* tooltip { */
/*   background: #282828; */
/*   border-radius: 10px; */
/*   border-width: 2px; */
/*   border-style: solid; */
/*   border-color: #1d2021; */
/* } */
/* #workspaces button { */
/*   padding: 0 0.6em; */
/*   color: #504945; */
/*   border-radius: 6px; */
/*   margin-right: 2px; */
/*   margin-left: 2px; */
/*   margin-top: 2px; */
/*   margin-bottom: 2px; */
/* } */
/**/
/* #workspaces button.active { */
/*   color: #ebdbb2; */
/*   background: #4e635b; */
/* } */
/**/
/* #workspaces button.focused { */
/*   color: #ebdbb2; */
/*   background: #4e635b; */
/* } */
/**/
/* #workspaces button.urgent { */
/*   color: #1d2021; */
/*   background: #fb4934; */
/* } */
/**/
/* #workspaces button:hover { */
/*   background: #4e635b; */
/*   color: #ebdbb2; */
/* } */
/**/
/* #custom-power, */
/* #custom-playerctl, */
/* #date, */
/* #clock, */
/* #battery, */
/* #pulseaudio, */
/* #network, */
/* #workspaces, */
/* #tray { */
/*   background: #32302f; */
/*   padding: 0 0.6em; */
/*   margin-right: 4px; */
/*   margin-left: 4px; */
/*   margin-top: 4px; */
/*   margin-bottom: 4px; */
/*   border-radius: 6px; */
/* } */
/**/
/* #tray { */
/*   margin-right: 6px; */
/* } */
/**/
/* #battery { */
/*   color: #ebdbb2; */
/*   margin-right: 6px; */
/* } */
/**/
/* #network { */
/*   color: #ebdbb2; */
/*   margin-right: 6px; */
/* } */
/**/
/* #custom-playerctl { */
/*   color: #ebdbb2; */
/*   margin-right: 6px; */
/* } */
/**/
/* #network { */
/*   color: #ebdbb2; */
/*   margin-right: 6px; */
/* } */
/**/
/* #pulseaudio { */
/*   margin-right: 6px; */
/*   color: #ebdbb2; */
/* } */
/**/
/* #custom-power { */
/*   color: #fb4934; */
/*   background: #32302f; */
/* } */
/**/
/* #clock { */
/*   color: #ebdbb2; */
/*   margin-right: 6px; */
/* } */
/**/
/* #taskbar { */
/*   background: #1d2021; */
/*   padding: 0 0.6em; */
/*   margin-right: 10px; */
/*   margin-left: 4px; */
/*   margin-top: 4px; */
/*   margin-bottom: 4px; */
/*   border-radius: 6px; */
/*   color: #ebdbb2; */
/* } */
/**/
/* #taskbar button { */
/*   border-radius: 6px; */
/*   background: #32302f; */
/*   color: #a89984; */
/*   margin-right: 6px; */
/* } */
/**/
/* #taskbar button.minimized { */
/*   border-radius: 6px; */
/*   background: #32302f; */
/*   color: #a89984; */
/* } */
/**/
/* #taskbar button.active { */
/*   border-radius: 6px; */
/*   background: #4e635b; */
/*   color: #ebdbb2; */
/* } */
